﻿@model IESOK.Models.SAT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SAT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAZWAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAZWAS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TYP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDSAT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
