﻿@model IEnumerable<IESOK.Models.SAT>

@{
    ViewBag.Title = "Index";
}

<h2>Asortymenty</h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAZWAS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAZWAS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYP)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.IDSAT }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.IDSAT }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.IDSAT })
        </td>
    </tr>
}

</table>
