﻿@model IESOK.Models.DOK

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DOK</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DATA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDOID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDOID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KKHID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KKHID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUMER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATA_D)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_D)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATA_T)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_T)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATA_P)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_P)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATA_Z)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_Z)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WARTOSCN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WARTOSCN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WARTOSCP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WARTOSCP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WARTOSCB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WARTOSCB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WARTOSCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WARTOSCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WARTOSCZ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WARTOSCZ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TYP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLAGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLAGA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STACJA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STACJA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAG.NAZWA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAG.NAZWA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SFP.NAZWA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SFP.NAZWA)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
