﻿@model IEnumerable<IESOK.Models.DOK>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DATA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDOID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KKH.NAZWA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUMER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATA_D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATA_T)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATA_P)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATA_Z)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WARTOSCN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WARTOSCP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WARTOSCB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WARTOSCE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WARTOSCZ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPIS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FLAGA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STACJA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAG.NAZWA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SFP.NAZWA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DATA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDOID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KKH.NAZWA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUMER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATA_D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATA_T)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATA_P)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATA_Z)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WARTOSCN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WARTOSCP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WARTOSCB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WARTOSCE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WARTOSCZ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPIS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FLAGA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STACJA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAG.NAZWA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SFP.NAZWA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DOKID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DOKID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DOKID })
        </td>
    </tr>
}

</table>
