﻿@{
    ViewBag.Title = "PolCen";
}



  <div class="jumbotron">
   <h1>Polityka Cenowa</h1>
   <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
   
 </div>

<div class="row">
    <div class="col-md-4">
        <h2>Sugestie Cenowe </h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Wejdz &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cenniki</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Wejdz &raquo;</a></p>
    </div>
   


</div>