﻿@model IESOK.Models.KTW

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KTW</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DATA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CENA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CENA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ILOSCP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ILOSCP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ILOSCR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ILOSCR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOP.NAZWA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOP.NAZWA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STW.SMB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STW.SMB)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KTWID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
