﻿@model IEnumerable<IESOK.Models.KTW>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DATA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CENA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ILOSCP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ILOSCR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOP.NAZWA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STW.SMB)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DATA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CENA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ILOSCP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ILOSCR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOP.NAZWA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STW.SMB)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KTWID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KTWID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KTWID })
        </td>
    </tr>
}

</table>
