﻿@model IESOK.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Zaloguj się za pomocą innej usługi.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                Brak skonfigurowanych zewnętrznych usług uwierzytelniania. Zobacz <a href="http://go.microsoft.com/fwlink/?LinkId=403804">ten artykuł</a>,
                aby uzyskać szczegółowe informacje dotyczące konfigurowania tej aplikacji ASP.NET w celu obsługi logowania za pomocą usług zewnętrznych.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Zaloguj się przy użyciu konta @p.Caption">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
