﻿@model IESOK.Models.KKH

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KKH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_SFP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_SFP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KOD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KOD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SYNONIM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SYNONIM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAZWA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAZWA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAZWA2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAZWA2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADRES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADRES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADRES2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADRES2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REGON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REGON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADRES_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADRES_EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADRES_WWW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADRES_WWW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BANK_A)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BANK_A)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BANK_N)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BANK_N)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INNE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INNE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KODPOCZTOWY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KODPOCZTOWY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MIASTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MIASTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KONTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KONTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ODBIERA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ODBIERA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOJ_KM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOJ_KM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOJ_CZAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOJ_CZAS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOJ_RYCZ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOJ_RYCZ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TYM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_SGK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_SGK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RABAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RABAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TYP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AKCYZA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AKCYZA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIRMA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIRMA)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
