﻿@model IEnumerable<IESOK.Models.KKH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SFP.NAZWA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KOD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SYNONIM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAZWA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAZWA2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADRES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADRES2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REGON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADRES_EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADRES_WWW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BANK_A)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BANK_N)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELEFONY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INNE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KODPOCZTOWY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MIASTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KONTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ODBIERA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOJ_KM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOJ_CZAS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOJ_RYCZ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SGK.NAZWA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RABAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AKCYZA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FIRMA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_SFP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KOD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SYNONIM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAZWA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAZWA2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADRES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADRES2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REGON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADRES_EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADRES_WWW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BANK_A)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BANK_N)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TELEFONY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INNE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KODPOCZTOWY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MIASTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KONTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ODBIERA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOJ_KM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOJ_CZAS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOJ_RYCZ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_SGK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RABAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AKCYZA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FIRMA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDKKH }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDKKH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDKKH })
        </td>
    </tr>
}

</table>
