﻿@model IEnumerable<IESOK.Models.MAG>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAZWA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KOD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KONTO_N)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KONTO_P)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAZWA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KOD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KONTO_N)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KONTO_P)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MAGID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MAGID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MAGID })
        </td>
    </tr>
}

</table>
