﻿@model IESOK.Models.SVT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SVT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAZWA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAZWA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KODP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KODP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KODF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KODF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REJESTR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REJESTR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDYCJA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDYCJA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SVTID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
