﻿@model IEnumerable<IESOK.Models.SVT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAZWA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KODP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KODF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REJESTR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDYCJA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAZWA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KODP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KODF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REJESTR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDYCJA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SVTID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SVTID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SVTID })
        </td>
    </tr>
}

</table>
