﻿@model IEnumerable<IESOK.Models.SGT>

@{
    ViewBag.Title = "Index";
}

<h2>Grupa towarowa</h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAZWAG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SAT.NAZWAS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAZWAG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SAT.NAZWAS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDSGT }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDSGT }) |
           
        </td>
    </tr>
}

</table>
