﻿@{
    ViewBag.Title = "Home Page";
}

  @*<div class="jumbotron">
   <h1>Program Gabinet</h1>
   <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
   <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
 </div>*@

<div class="row">
    <div class="col-md-4">
        <h2>Polityka cenowa </h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="/PolitykaCenowa/PolCen">Wejdz &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Zarządzanie dostawami</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Wejdz &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Zarządzanie aptekami</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Wejdz &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Zarządzanie kartotekami</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Wejdz &raquo;</a></p>
    </div>
    <div class="col-md-4">
    <h2>Analizy Zarządcze</h2>
    <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Wejdz &raquo;</a></p>
</div>
    <div class="col-md-4">
        <h2>Administracja Systemu</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Wejdz &raquo;</a></p>
    </div>

</div>