﻿
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Słowniki</h2>

<p><a class="btn btn-default" href="/SVTs/Index">Podatki Vat</a></p>
<br>
<p><a class="btn btn-default" href="/STWs/Index">Towary i usługi</a></p>
<br>
<p><a class="btn btn-default" href="/SGTs/Index">Grupy towarowe</a></p>
<br>
<p><a class="btn btn-default" href="/SATs/Index">Asortymenty</a></p>
<br>
<p><a class="btn btn-default" href="/SFPs/Index">Formy Płatności</a></p>
<br>
<p><a class="btn btn-default" href="/SJMs/Index">Jednostki miary</a></p>
<br>

