﻿@model IEnumerable<IESOK.Models.SJM>

@{
    ViewBag.Title = "Index";
}

<h2>Jednostki miary</h2>

<p>
    @Html.ActionLink("Dodaj nowy", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAZWA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAZWA)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.SJMID }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.SJMID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.SJMID })
        </td>
    </tr>
}

</table>
