﻿@model IESOK.Models.STW

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>STW</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SMB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KEAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KEAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAZWA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAZWA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLAGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLAGA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PKWIU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PKWIU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STANTMP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STANTMP)
        </dd>

      

        <dt>
            @Html.DisplayNameFor(model => model.OCENAZ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OCENAZ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOTA)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.DLUG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DLUG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SZER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SZER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WAGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WAGA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CECHA1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CECHA1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CECHA2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CECHA2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CECHA3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CECHA3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CZAST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CZAST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SKROT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SKROT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NRPRODUCT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NRPRODUCT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRZELICZNIK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRZELICZNIK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AKCYZA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AKCYZA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAG.NAZWA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAG.NAZWA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SGK.NAZWA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SGK.NAZWA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SJM.NAZWA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SJM.NAZWA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SVT.NAZWA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SVT.NAZWA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.STWID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
