﻿@model IEnumerable<IESOK.Models.STW>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SMB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KEAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAZWA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPIS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FLAGA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PKWIU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STANTMP)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.OCENAZ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOTA)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.DLUG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SZER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WAGA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CECHA1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CECHA2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CECHA3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPIS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CZAST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SKROT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NRPRODUCT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRZELICZNIK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AKCYZA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAG.NAZWA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SGT.NAZWAG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SJM.NAZWA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SVT.NAZWA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SMB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KEAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAZWA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPIS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FLAGA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PKWIU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STANTMP)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.OCENAZ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOTA)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.DLUG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SZER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WAGA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CECHA1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CECHA2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CECHA3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPIS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CZAST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SKROT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NRPRODUCT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRZELICZNIK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AKCYZA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAG.NAZWA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SGT.NAZWAG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SJM.NAZWA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SVT.NAZWA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.STWID }) |
            @Html.ActionLink("Details", "Details", new { id=item.STWID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.STWID })
        </td>
    </tr>
}

</table>
