﻿@model IESOK.Models.DOP

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DOP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DOKID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOKID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAZWA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAZWA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ILOSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ILOSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CENAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CENAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CENAB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CENAB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WARTOSCN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WARTOSCN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WARTOSCB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WARTOSCB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WARTOSCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WARTOSCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CENAE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CENAE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RABAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RABAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CENANP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CENANP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CENABP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CENABP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SJM.NAZWA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SJM.NAZWA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STW.SMB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STW.SMB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SVT.NAZWA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SVT.NAZWA)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
