﻿@model IEnumerable<IESOK.Models.DOP>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DOKID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAZWA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPIS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ILOSC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CENAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CENAB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WARTOSCN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WARTOSCB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WARTOSCE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CENAE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RABAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CENANP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CENABP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SJM.NAZWA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STW.NAZWA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SVT.NAZWA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DOKID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAZWA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPIS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ILOSC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CENAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CENAB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WARTOSCN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WARTOSCB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WARTOSCE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CENAE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RABAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CENANP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CENABP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SJM.NAZWA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STW.NAZWA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SVT.NAZWA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DOPID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DOPID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DOPID })
        </td>
    </tr>
}

</table>
